.jumbotron {
  background-image:  url(img/slider1.jpg);
  background-size: cover;
  height: 770px;
  text-align:  center;
  margin-top: -130px;
}
.jumbotron .display-4{
  color: white;
  margin-top: 300px
}
.jumbotron p{
  color: white;
}
.jumbotron hr{
  border-color:  #F06F40;
  width: 70px;
  border-width: 3px;
}
.jumbotron .btn{
   background-color: #F05F40;
   border: none;
   border-radius: 25px;
   padding-right: 25px;
   padding-left:  25px;
}
